html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.planodefundo{
    min-height: 100vh; 
    background-image: linear-gradient(#182f6f, #050414 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}


.Container {
    width: 400px;
    background-color: white;
    border-radius: 15px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.logo-car {
  width: 150px;
  height: 150px; 
  border-radius: 50%; 
  overflow: hidden; 
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
  border: 3px solid #ddd;
}

.logo-car img.car {
  width: 100%;
  height: auto;
}

.car {
    color: white;
    font-size: 24px;

}

.paragrafo1 {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 5px;
    display: flex;
    align-items: top;
    justify-content: center;
    text-align: center;
}
.paragrafo2 {
    opacity: 0.5;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-container {
    width: 100%;
    max-width: 420px;
}

.form-box {
    background: #ffffff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    text-align: center;
    border-top: 6px solid #5b3ef0;
}


.form-box h2 {
    color: #2a2a5c;
    font-size: 1.7rem;
    margin-bottom: 35px;
}


.input-group {
    position: relative;
    margin-bottom: 28px;
}

.input-group input {
    width: 90%;
    padding: 14px 18px;
    border-radius: 12px;
    border: 2px solid #d3d2f8;
    outline: none;
    font-size: 1rem;
    transition: all 0.2s ease;
    background: #fff;
}

.input-group input:focus {
    border-color: #5b3ef0;
    box-shadow: 0 0 0 3px rgba(91, 62, 240, 0.15);
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #555;
    pointer-events: none;
    transition: 0.2s;
    background: #fff;
    padding: 0 6px;
}


.input-group input:focus + label,
.input-group input:valid + label {
    top: -8px;
    font-size: 0.78rem;
    color: #5b3ef0;
}


.form-btn {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    background: #5b3ef0;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.form-btn:hover {
    background: #6c55ff;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
    transition: opacity 0.4s;
}

.btn:hover {
    opacity: 0.8s;
}

.btn-1 {
    background: #000;
    color: white;
}

.btn-2 {
    background-color: white;
    color: #000;
    border: 1px solid #333;
}